<?xml version="1.0" encoding="utf-8"?>
<packages>
    <!-- ブラウザ -->
    <package id="GoogleChrome" />
    <package id="firefox" />
    <!-- エディター -->
    <package id="sakuraeditor" installArguments="'/Tasks:!quicklaunch,fileassoc'" packageParameters="" />
    <package id="adobereader" />
    <!-- ツール -->
    <package id="7zip" />
    <!-- <package id="vagrant" /> -->
    <!-- <package id="packer" /> -->
    <!-- AWS -->
    <package id="awscli" />
    <package id="eksctl" />
    <!-- Azure -->
    <package id="azure-cli" />
    <!-- 開発ツール -->
    <package id="Everything" />
    <package id="winmerge" />
    <package id="openssh" />
    <package id="Wget" />
    <package id="winscp" />
    <package id="teraterm" />
    <package id="git" />
    <package id="tortoisegit" />
    <package id="xmind" />
    <!-- コミュニケーション -->
    <package id="zoom" />
    <package id="slack" />
    <!-- Kubernetesツール -->
    <package id="minikube" />
    <package id="kubernetes-cli" />
    <package id="kubernetes-helm" />
    <!-- エンタープライズ -->
    <package id="potplayer" />
</packages>